html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    width: 1600px;
    box-shadow: 0 0 16px #cccccc;
}

h1,
p {
    font-family: 'Cookie', cursive;
    font-size: 25px;
}

.photo {
    border-radius: 50%;
    margin-top: 30px;
}

.main-container {
    background-color: #f3f6f7;
    padding-bottom: 50px;
}

.page-header {
    margin: 0 auto;
    background-color: #589658;
    color: #ffffff;
    padding: 15px 300px;
}

.navigation {
    width: 100%;
}

.navigation-item {
    position: relative;
}

.navigation-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    gap: 35px;
}

.navigation-link {
    color: #eeecec;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
}

.navigation-list a::before {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #F8BB10;
    position: absolute;
    left: -15px;
    bottom: 8px;
    transform: rotate(45deg);
}

.navigation-link {
    font-family: 'Cookie', cursive;
    font-size: 25px;
}

.navigation-link:hover::after {
    width: 100%;
    right: 0;
}

.navigation-link::after {
    content: "";
    width: 0;
    height: 2px;
    bottom: -3px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

.container-wrapper {
    text-align: center;
}

.about {
    display: flex;
    flex-direction: column-reverse;
}

.about-item-text {
    margin: 15px 0;
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
}

.about-list {
    display: flex;
    margin: 0;
    padding-left: 20px;
    margin-top: 75px;
    list-style: none;
    gap: 25px;
}

.about-item-title {
    margin: 0;
    font-size: 16px;
}

.about-title {
    margin: 0;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 25px;
    color: #000000;
}

.summary-title,
.skill-title,
.education-title,
.english-title,
.my-works-title,
.specialty-title {
    position: relative;
    width: fit-content;
    margin: 30px auto;
}

.my-works-link {
    font-family: 'Cookie', cursive;
    font-size: 25px;
    text-decoration: none;
    color: #000000;
}

.my-works-link:hover {
    text-decoration: underline;
}

.skill-text {
    margin-bottom: 30px;
    line-height: 25px;
}

.code-text {
    font-style: italic;
    font-size: 18px;
}

.page-footer {
    color: #eeecec;
    background-color: #589658;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
}

.footer-text {
    margin: 0;
    padding: 0;
    margin-top: 11px;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
}

.summary h2::before,
.skill h2::before,
.my-works h2::before,
.education h2::before,
.specialty h2::before,
.english h2::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -3px;
    border-style: solid;
    border-width: 4px 54px 0;
    border-color: #F8BB10 transparent transparent transparent;
}

.english h2::before {
    border-width: 4px 46px 0;
    left: -7px;
}

.skill h2::before {
    border-width: 4px 35px 0;
    left: -6px;
}